data/**/*.png
data/**/*.mov
data/**/*.avi
data/**/*.gif
data/**/*.tif
data/**/*.tiff
data/**/*.jpg
data/**/*.jpeg
data/**/*.cr2
obd/**
output/*
**/__pycache__/*
*.zip
*.pdf

# release the following
!data/jupiter_mvi_6906/????????.png