data/**/*.png
data/**/*.mov
data/**/*.avi
data/**/*.avi.txt
data/**/*.gif
data/**/*.tif
data/**/*.tiff
data/**/*.jpg
data/**/*.jpeg
data/**/*.cr2
data/**/*.ser
data/**/*.ser.txt
data/**/*.fit
data/**/*.txt
data/**/*.npy
data/**/*.npz
gallery/**
obd/**
output/*
**/tensorez_cache/**
**/__pycache__/*
*.zip
*.pdf


# release some example data
!data/jupiter_mvi_6906/????????.png
!data/drizzle.png

# not releasing this, so I can play with stuff locally and git push with reckless abandon without pointing users at nonexistant data or broken settings
local_settings.py